{% extends 'common/base.html' %}

{% block content %}

<style>
table {
    width: 75%;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}


</style>

<h2>재고 목록 페이지</h2>

<table id="dynamic-table">
    <caption>재고</caption>
    <tr>
        <th rowspan="2">종류</th>
        <th colspan="7">사이즈</th>
    </tr>
    <tr>
        <th>XXS</th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>XXL</th>
    </tr>
</table>

<br><hr><br>

<table>
    <caption>재고</caption>
    <tr>
        <th rowspan="2">종류</th>
        <th colspan="7">사이즈</th>
    </tr>
    <tr>
        <th>XXS</th>
        <th>XS</th>
        <th>S</th>
        <th>M</th>
        <th>L</th>
        <th>XL</th>
        <th>XXL</th>
    </tr>
    <tr>
        <td>T-Shirt:Red</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>T-Shirt:White</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
    <tr>
        <td>Jeans:Black</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>

<script>
var size_order = ["XXS", "XS", "S", "M", "L", "XL", "XXL"];

var inventory = {};
{% for inventory_key, inventory in inventory_list.items %}

var data = {};
{% for size_key, size in inventory.items %}
data['{{ size_key }}'] = {{ size }};
{% endfor %}

inventory['{{ inventory_key }}'] = data;
{% endfor %}


var table = document.getElementById("dynamic-table");

Object.keys(inventory).forEach(function(key) {
    var item = inventory[key];
    var row = table.insertRow(-1);
    var name_col = row.insertCell(-1);

    name_col.innerHTML = key;  // todo : 재품 이름 콜론, 디자인 추가하기

    for (var i = 0; i < size_order.length; i++) {
        size = size_order[i];
        var col = row.insertCell(-1);

        var quantity = 0;
        if (item.hasOwnProperty(size)) {
            quantity = item[size];
        }

        col.innerHTML = quantity;  // todo : 재품 사이즈 콜론, 디자인 추가하기
    }
});

</script>

{% endblock %}